{% extends "base.html" %}

{% block content %}
   <h1>Welcome to R-App</h1>
<div id="locationButtons">

       {% for location in locations %}

          <button id={{ location.location_title | cut:" " }}>
              
              <a href="{% url 'location_detail' location.id %}">
                  {{ location.location_title|capfirst }}
              </a>

          </button>
    <div class="locationRegularHours" >
<ul>
    <li> Monday:
        <span id={{ location.location_title | cut:" " | add:"-mondayOpen" }}>
            {{ location.monday_open }}
        </span> -
        <span id={{ location.location_title | cut:" " | add:"-mondayClose" }}>
            {{ location.monday_close }}
        </span>
    </li>
    <li> Tuesday:
        <span id={{ location.location_title | cut:" " | add:"-tuesdayOpen" }}>
            {{ location.tuesday_open }}
        </span> -
        <span id={{ location.location_title | cut:" " | add:"-tuesdayClose" }}>
            {{ location.tuesday_close }}
        </span>
    </li>
    <li> Wednesday:
        <span id={{ location.location_title | cut:" " | add:"-wednesdayOpen" }}>
            {{ location.wednesday_open }}
        </span> -
        <span id={{ location.location_title | cut:" " | add:"-wednesdayClose" }}>
            {{ location.wednesday_close }}
        </span>
    </li>
    <li> Thrusday:
        <span id={{ location.location_title | cut:" " | add:"-thursdayOpen" }}>
            {{ location.thursday_open }}
        </span> -
        <span id={{ location.location_title | cut:" " | add:"-thursdayClose" }}>
            {{ location.thursday_close }}
        </span>
    </li>
    <li> Friday:
        <span id={{ location.location_title | cut:" " | add:"-fridayOpen" }}>
            {{ location.friday_open }}
        </span> -
        <span id={{ location.location_title | cut:" " | add:"-fridayClose" }}>
            {{ location.friday_close }}
        </span>
    </li>
    <li> Saturday:
        <span id={{ location.location_title | cut:" " | add:"-saturdayOpen" }}>
            {{ location.saturday_open }}
        </span> -
        <span id={{ location.location_title | cut:" " | add:"-saturdayClose" }}>
            {{ location.saturday_close }}
        </span>
    </li>
    <li> Sunday:
        <span id={{ location.location_title | cut:" " | add:"-sundayOpen" }}>
            {{ location.sunday_open }}
        </span> -
        <span id={{ location.location_title | cut:" " | add:"-sundayClose" }}>
            {{ location.sunday_close }}
        </span>
    </li>
</ul>
</div>

       {% endfor %}
    </div>

<h2>Moment Date</h2>
<!-- container for Moment.js output -->
<div id="displayMoment"></div>

<h2>JavaScript Date</h2>
<!-- container for JavaScript Date output -->
<div id="displayJsDate"></div>

<script type="text/javascript">
(function()
{
    
  // instantiate a moment object
  var NowMoment = moment();
  
  // instantiate a JavaScript Date object
  var NowDate = new Date();
  
  // display value of moment object in #displayMoment div
  var eDisplayMoment = document.getElementById('displayMoment');
  eDisplayMoment.innerHTML = NowMoment;
  
  // display value of Date object in #displayJsDate div
  var eDisplayDate = document.getElementById('displayJsDate');
  eDisplayDate.innerHTML = NowDate;
})();
</script>

{% endblock %}