{% extends "base.html" %}

{% block content %}
   <h1>Welcome to R-App</h1>

       {% for location in locations %}

          <button id={{ location.location_title|capfirst }}>
              
              <a href="{% url 'location_detail' location.id %}">
                  {{ location.location_title|capfirst }}
              </a>

          </button>

       {% endfor %}

<h2>Moment Date</h2>
<!-- container for Moment.js output -->
<div id="displayMoment"></div>

<h2>JavaScript Date</h2>
<!-- container for JavaScript Date output -->
<div id="displayJsDate"></div>

<script type="text/javascript">
(function()
{
  // instantiate a moment object
  var NowMoment = moment();
  
  // instantiate a JavaScript Date object
  var NowDate = new Date();
  
  // display value of moment object in #displayMoment div
  var eDisplayMoment = document.getElementById('displayMoment');
  eDisplayMoment.innerHTML = NowMoment;
  
  // display value of Date object in #displayJsDate div
  var eDisplayDate = document.getElementById('displayJsDate');
  eDisplayDate.innerHTML = NowDate;
})();
</script>

{% endblock %}