{% extends "base.html" %}

{% block content %}

<h1>{{ location.location_title|capfirst }}</h1>
<a href="{% url 'index' %}">Back to Home</a>

<h4>{{ location.location_title|capfirst }} Contact Info:</h4>
{% for contact in contacts %}
   <button class="contact_desk_name">{{ contact.desk_name|capfirst }}</button>
   <button class="contact_name">{{ contact.name|capfirst }}</button>
   <button class="contact_phone_number">{{ contact.phone_number|capfirst }}</button>
{% endfor %}
<!--Contact info here but not database or model info in on this yet-->

<h4>Regular Hours:</h4>
<p>Monday: {{ location.monday_open }} - {{ location.monday_close }}</p>
<p>Tuesday: {{ location.tuesday_open }} - {{ location.tuesday_close }}</p>
<p>Wednesday: {{ location.wednesday_open }} - {{ location.wednesday_close }}</p>
<p>Thursday: {{ location.thursday_open }} - {{ location.thursday_close }}</p>
<p>Friday: {{ location.friday_open }} - {{ location.friday_close }}</p>
<p>Saturday: {{ location.saturday_open }} - {{ location.saturday_close }}</p>
<p>Sunday: {{ location.sunday_open }} - {{ location.sunday_close }}</p>

<h4>Calendar Changes:</h4>
<!--Exceptions Calendar here-->

{% endblock %}