{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>{{ location.location_title|capfirst }}</h1> 
            <a class="backToHome" href="{% url 'index' %}">Back to Home</a>
        </div>

        <h4 class="locationSection">{{ location.location_title|capfirst }} Contact Info:</h4>

        {% for contact in contacts %}
            <p class="contact_desk_name">{{ contact.desk_name|capfirst }}</p>
            <p class="contact_name">{{ contact.contact_name|capfirst }}</p>
            <p class="contact_phone_number">{{ contact.phone_number|capfirst }}</p>
        {% endfor %}
        
        {% if location.open_24_hours_for_students %}
            <h4 class="locationSection"> Open 24 Hours to Rollins Students</h4>
        {% endif %}
        
        <h4 class="locationSection">Regular Hours:</h4>
        
        <div id="regularHours" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="titleRow row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Day
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Open
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Close
                </div>
            </div>
            <div class="row">
                <div id="monday" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Monday:
                </div>
                <div id="mondayOpen" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ location.monday_open }}
                </div>
                <div id="mondayClose" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ location.monday_close }}
                </div>
            </div>
            <div class="grey_row row">
                <div id="tuesday" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Tuesday:
                </div>
                <div id="tuesdayOpen" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ location.tuesday_open }}
                </div>
                <div id="tuesdayClose" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ location.tuesday_close }}
                </div>
            </div>
            <div class="row">
                <div id="wednesday" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Wednesday:
                </div>
                <div id="wednesdayOpen" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ location.wednesday_open }}
                </div>
                <div id="wednesdayClose" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ location.wednesday_close }}
                </div>
            </div>
            <div class="grey_row row">
                <div id="thursday" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Thursday:
                </div>
                <div id="thursdayOpen" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ location.thursday_open }}
                </div>
                <div id="thursdayClose" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ location.thursday_close }}
                </div>
            </div>
            <div class="row">
                <div id="friday" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Friday:
                </div>
                <div id="fridayOpen" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ location.friday_open }}
                </div>
                <div id="fridayClose" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ location.friday_close }}
                </div>
            </div>
            <div class="grey_row row">
                <div id="saturday" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Saturday:
                </div>
                <div id="saturdayOpen" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ location.saturday_open }}
                </div>
                <div id="saturdayClose" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ location.saturday_close }}
                </div>
            </div>
            <div class="row">
                <div id="sunday" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Sunday:
                </div>
                <div id="sundayOpen" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ location.sunday_open }}
                </div>
                <div id="sundayClose" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ location.sunday_close }}
                </div>
            </div>
        </div>
        
        <!-- Calendar Exceptions -->
        <h4 class="locationSection">Calendar Exceptions:</h4>
        
        <div id="calendarExceptions" class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <div class="titleRow row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Title
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    Event
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Location
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    Date
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    Times
                </div>
            </div>

        {% for excep in exceptions %}
            
            {% if forloop.counter0|divisibleby:2 %}
    
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ excep.title}}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    {{ excep.event_title }}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ excep.location_title }}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    {{ excep.date }}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    {{ excep.opening_time }} - {{ excep.closing_time }}
                </div>
            </div>
            
            {% elif forloop.counter|divisibleby:2 %}
            
            <div class="grey_row row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ excep.title}}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    {{ excep.event_title }}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{ excep.location_title }}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    {{ excep.date }}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    {{ excep.opening_time }} - {{ excep.closing_time }}
                </div>
            </div>
            
            {% endif %}
        
         {% endfor %}
        </div>

</div>

{% endblock %}