{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class=jumbotronTitle>Flag Error
        <span class="flagBadge badge" style="margin-left:20px">
            <span class="flag glyphicon glyphicon-flag"></span>
        </span>
    </h1> 

</div>


<div class="container">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row">
                    <div class="fieldWrapper">
                        <span class="reportFlagHelperText badge">
                            <h3 style="margin-top:5px">Location Name:</h3>
                            <p>Please enter the name of location you want to flag</p>
                        </span>
                        <br>
                        {{ form.location.errors }}
                        {{ form.location }}
                    </div>
                </div>      
                <div class="row">
                    <div class="fieldWrapper">
                        <span class="reportFlagHelperText badge">
                            <h3 style="margin-top:5px">Description:</h3>
                            <p>Detailed description of incorrect information</p>
                        </span>
                        <br>
                        {{ form.description.errors }}
                        {{ form.description }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" style="padding:20px; background-color:blue">Flag</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}