
/* Header */

.jumbotron {
    background-color: #4259f4 !important;
    font: yellow;
}

h1 {
    color: yellow !important;
}

/* Location Button Page */

.location_button {
    height: inherit;
    width: inherit;
    margin-top: 15px;
}

#locationButtons {
    padding-left: 10%;
    padding-right: 10%;    
}

.key_button {
    width: 100%;
}

/* Location Detail Page */

.backToHome {
    text-decoration: underline;
    color: yellow;
}

.titleRow {
    border-color: #4259f4;
    color: #4259f4;
    font-size: 20px;
    border: solid;
}

.grey_row.row {
    background-color: lightgrey;
}

.locationSection {
    padding-top: 10px;
    padding-bottom: 5px;
    clear:both;
}