
/***** Header *****/

.container {
    padding-bottom: 50px;
}
.jumbotron {
    background-color: #4259f4 !important;
    font: yellow;
    padding-bottom: 35px !important;
}

.jumbotronTitle {
    color: yellow !important;
}

.nav li {
   float:left;
    width:10em;
}
.nav li a:link {
display: block;
width: 100%;
text-align:center;
}

/***** Location Button Page *****/

.location_button {
    height: inherit;
    width: inherit;
    margin-top: 15px;
}

#locationButtons {
    padding-left: 10%;
    padding-right: 10%;    
}

.key_button {
    width: 100%;
}

/***** Location Detail Page *****/

.flag {
    color: red;
    font-size: 25px;
}

.sectionHeader {
    padding-top: 40px;
    padding-bottom: 5px;
    clear:both;
}

.exceptionTitle {
    color: red;
    font-style: italic;
}

.titleRow {
    border-color: #4259f4;
    color: #4259f4;
    font-size: 20px;
    border: solid;
}

.grey_row.row {
    background-color: lightgrey;
}

.locationTable {
    margin-left: 30px;
    clear:both;
}

.exceptionTable {
    margin-left: 30px;
    margin-bottom: 20px;
    border: solid;
    border-color: red;
}


.flagDiv {
    clear:both;
    padding-top: 45px;
}

.flagLabel {
    padding-top: 30px;
    font-size: 15px;
    color: red;
    text-decoration: underline;
}

.flagBadge.badge {
    font-size: 15px;
    background-color: yellow;
    color: red;
}

/***** Report Flags Page *****/

.reportFlagHelperText.badge {
    background-color: #4259f4 !important;
    color: yellow;
    margin-bottom: 10px;
}

.fieldWrapper {
    margin-bottom: 45px;
}